@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #fff;
    --orange: #FFA800;
    --smooth-yellow: #FFCA62;
    --smooth-grey: #E5E5E5;
    --smooth-grey-transparent: #e5e5e5d2;
    --smooth-grey-inactive: #F7F5F9;
    --black: #292929;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

li {
    list-style-type: none;
}

button {
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}